*{
    margin: o;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background-color: black;
}
.card{
    background: linear-gradient(135deg,rgb(31, 205, 173),rgb(4, 109, 142));
    max-width: 500px;
    margin: 100px auto 0;
    text-align: center;
    padding: 40px 40px;
    color: #fff;
    border-radius: 30px;
    width: 90%;
    animation-delay: 1;
}
.search{
    width: 100%;
    align-items: center;
    justify-content: space-between;
    display: flex;
}
.search input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 30px;
    padding: 18px 30px;
    flex: auto;
    font-size: 18px;
}
.search button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    cursor: pointer;
    margin-left: 10px;
}
.search button img{
    width: 20px;
}
.weather-icon{
    width: 170px;
    margin-top: 30px;
}
.weather h1{
    font-size: 80px;
    font-weight: 500;
}
.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    margin-top: 10px;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;
}
.fa{
    font-size: 40px;
    margin-right: 10px;
}
.humidity , .wind{
    font-size: 28px;
    margin-top: -6px;
}
.weather{
    display: none;
}
.error{
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
    display: none;
}
.animation{
    opacity: 0;
    transform: translateY(30px);
    animation: moveup 0.5s linear forwards;
}
@keyframes moveup {
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}